* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
    
  header {
    padding: 20px;
    text-align: center;
    background: yellowgreen;
    font-style: italic;
    /* position:fixed; */
    }

    body {
    font-family: cursive;
    background-image: url("../images/clouds.jpg");
        }
    
  .wrapper .sidebar {
        display: block;
        background-color: teal;
        color: yellow;
        position: fixed;
        font-size: 18px;
        top: 120px;
        left: 0;
        width: 225px;
        height: 100%;
        padding: 20px 0;
        /* transition: all 0.5s ease; */
    }

    .container {
        /* display: none; */
        margin-left: 800px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
        width: 100%;
        max-width: 420px;
        background:transparent;

    }

#Weather:hover .container{
    display:block
}

.inputValue {
        border: none;
        outline: none;
        padding: 0.3rem;
        border-radius: 18px;
        color: black;
        background: white;
        font-family: 'calibri', sans-serif;
  
    }
    
    button.button {
        border: none;
        width: 50px;
        padding: 6px;
        border-radius: 25px;
        color: black;
        background: yellowgreen;
        font-family: 'Raleway', sans-serif;
        /* transition: (.6s); */
    }
    
    button.button:focus{
        outline:none;
    }
    
    button.button:hover{
        border: 1px solid rgb(122, 112, 112) 
    }
    
    .displayWeather{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        
    }
    .newsSearch {
        /* display: none; */
        margin-left: 800px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
        width: 100%;
        max-width: 420px;
        background:transparent;

    }

    .button.newsButton {
        border: none;
        width: 50px;
        padding: 6px;
        border-radius: 25px;
        color: black;
        background: yellowgreen;
        font-family: 'Raleway', sans-serif;
        /* transition: (.6s); */
    }
    
    button.newsButton:focus{
        outline:none;
    }
    
    button.newsButton:hover{
        border: 1px solid rgb(122, 112, 112) 
    }
    
    .newsArticle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        
    }

    
